body {
    width: 100vw;
    height: 100vh;
}

#app {
    height: 100%;
}

#container {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.left-col {
    background: #fff;
    width: 300px;
    position: fixed;
    opacity: 1;
    transition: all .2s ease-in;
    height: 100%;
    z-index: 999;
}

.overlay {
    width: 100%;
    height: 180px;
    position: absolute;
}

.intrude-less {
    width: 76%;
    text-align: center;
    margin: 112px auto 0;
}

.left-col #header {
    width: 100%;
    height: 300px;
    position: relative;
}

.left-col #header a{
    color: #696969;
}

.left-col #header .profilepic {
    border: 5px solid #fff;
    border-radius: 300px;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #88acdb;
    -webkit-transition: all .2s ease-in;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
}

.left-col #header .header-author {
    text-align: center;
    margin: .67em 0;
    font-family: Roboto,serif;
    font-size: 30px;
    transition: .3s;
}

.left-col #header .header-subtitle {
    text-align: center;
    color: #999;
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-col #header .header-menu {
    font-weight: 300;
    line-height: 31px;
    text-transform: uppercase;
    float: none;
    min-height: 150px;
    margin-left: -12px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.left-col #header .header-menu li a {
    font-size: 14px;
    min-width: 300px;
}

.left-col #header .header-smart-menu a:last-child:after {
    content: "";
}

.left-col #header .header-smart-menu a:after {
    content: "/";
}

.left-col #header .header-menu li {
    cursor: default;
}

.left-col #header .header-smart-menu {
    font-size: 12px;
    margin-bottom: 20px;
}

#header .header-nav {
    width: 100%;
    position: absolute;
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in,-webkit-transform .3s ease-in;
}

#header .header-nav .social {
    margin-top: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#header .header-nav .social a.github {
    background: #afb6ca;
    border: 1px solid #afb6ca;
}

#header .header-nav .social a {
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 0 8px 15px;
    transition: .3s;
    text-align: center;
    color: #fff;
    opacity: .7;
    width: 28px;
    height: 28px;
    line-height: 26px;
}

#header .header-nav .social a.weibo {
    background: #aaf;
    border: 1px solid #aaf;
}

[class*=" icon-"], [class^=icon-] {
    font-family: iconfont!important;
    speak: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-github:before {
    content: "\E735";
}

.icon-weibo:before {
    content: "\E619";
}

.mid-col.hide {
    animation-duration: .8s;
    animation-name: leftOut;
}

.mid-col {
    position: absolute;
    right: 0;
    min-height: 100%;
    background: #eaeaea;
    left: 300px;
    width: auto;
}

#mobile-nav {
    display: none;
}

.icon-sort:before {
    content: "\E700";
}

.icon-quo-left:before {
    content: "\E7F5";
}

.icon-quo-right:before {
    content: "\E7F6";
}

.body-wrap {
    margin-bottom: 80px;
}

.article {
    margin: 30px;
    position: relative;
    border: 1px solid #ddd;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #fff;
    transition: all .2s ease-in;
}

.article-inner {
    border-color: #d1d1d1;
}

.article-header {
    border-left: 5px solid #4d4d4d;
    padding: 30px 0 15px 25px;
    padding-left: 7.6923%;
}

.article-inner h1:first-child {
    margin-bottom: 10px;
    display: inline;
}

.article-inner h1.article-title, .article-title {
    color: #696969;
    margin-left: 0;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 20px;
    font-size: 26px;
    transition: color .3s;
}

.archive-article-date {
    color: #999;
    margin-right: 7.6923%;
    float: right;
}

.article-entry {
    line-height: 1.8em;
    padding-right: 7.6923%;
    padding-left: 7.6923%;
}

.article-entry p {
    margin-top: 10px;
}

.article-inner p {
    margin: 0 0 1.75em;
}

.article-entry em {
    font-style: italic;
}

.article-entry h2, .article-entry h3, .article-entry h4, .article-entry h5, .article-entry h6 {
    margin-top: 20px;
    font-weight: 700;
    color: #574c4c;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.article-info-index.article-info {
    padding-top: 20px;
    margin: 30px 7.6923% 0;
    min-height: 72px;
    border-top: 1px solid #ddd;
}

.article-category, .article-category .article-tag-list, .article-tag, .article-tag .article-tag-list {
    float: left;
}

.article-category .icon, .article-tag .icon {
    color: #999;
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}

.icon-price-tags:before {
    content: "\E6F9";
}

.article-tag-list .article-tag-list-item {
    float: left;
}

.tagcloud a.color3 {
    background: #ba8f6c;
}

.tagcloud a {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    height: 18px;
    line-height: 18px;
    float: left;
    padding: 0 5px 0 10px;
    position: relative;
    border-radius: 0 5px 5px 0;
    margin: 5px 9px 5px 8px;
    font-family: Menlo,Monaco,Andale Mono,lucida console,Courier New,monospace;
}

.tagcloud a.color3:before {
    border-right-color: #ba8f6c;
}

.tagcloud a:before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -18px;
    border: 9px solid transparent;
}

.article-more-link {
    margin-top: 0;
    text-align: left;
    float: right;
}

.article-more-link a {
    background: #4d4d4d;
    color: #fff;
    font-size: 12px;
    padding: 5px 8px;
    line-height: 16px;
    border-radius: 2px;
    transition: background .3s;
}

.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
